                <p>Getting started..</p>

                <p>Sample Trip: @ViewBag.Trip.Name</p>
                <p>Date: @ViewBag.Trip.Date</p>
                <form>
                    <div>
                        <label>Date</label>
                        <input />
                    </div>
                    <div>
                        <label>Location</label>
                        <input />
                    </div>
                    <div><input type="submit" value="Add" /></div>
                </form>
         
 